LOG_LEVEL=loglevel
TELEGRAM_TOKEN=your_telegram_token
CLIENT_ID=your_client_id
CLIENT_SECRET=your_client_secret
REDIRECT_URI=your_redirect_uri
AUTHORIZATION_SERVER_URL=your_authorization_server_url
LEX_BOT_ID=your_lex_bot_id
LEX_BOT_ALIAS=your_lex_bot_alias
OPENAI_API_KEY=your_openai_api_key
